<!--
This HTML file should only contain the SPAN element below.
Please do not add anything else.
The DIV element is displayed when a mouse is positioned over a block.
You may change the colors, etc, inside the style tag.
You *MUST* edit the template from the Admin. Go t Admin -> Ad Form -> Edit Template
-->
<style type="text/css">

#bubble #content img {
	max-height: 100px;
}

</style>
<div  onmouseout="hideBubble()" id="bubble"  style="position:absolute; left:0; top:0; visibility:hidden; background-color:#FFFFFF; border-color: rgb(255, 149, 0); border-style:solid; border-width:1px; padding:5px; margin:0px;  width:200px; filter: revealtrans(); font-family:Arial; font-size:11px; z-index: 10; border-radius: 10px;">
<span  id="content" style="padding:0px; margin:0px">
</span>
</div>