.free {

		height: 10px; 
		width: 10px;
		border:1px solid #DFDFDF;
		

}

A.big_link {


    font-size: 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #6699cc;


}

.big_button {

	font-size:18px;
}

.sold {
		height: 10px; 
		width: 10px;
}
.selected {
		height: 10px; 
		width: 10px;
		border:2px solid #33CC00;
		background-color: #FFFFFF ;
}

.reserved {
		height: 10px; 
		width: 10px;
}

A.menu_bar {

	color: white;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	font-weight: Bold; 
	padding:0px;
}

.menu_bar {
	margin: 0px;
	padding: 10px;
	background-color:#808080; 
	color: white;

}

H1 {
	font-size: 20px; 
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

H2 {
	font-size : 16px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height : 18px;
	color: #000000;
}

H3 {
	font-size : 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height : 14px;
	color: #000000;
}

P {
	font-size :  13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	
	color: #000000;
}

TABLE {
	width: 80%;
	margin: 0 auto;
}

TABLE, TR, TD {
	font-size :  13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

FORM {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
}

SELECT  {
	font-size :  11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

INPUT {
    font-size :  11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

TEXTAREA {
	height: 230px;
	width:660px;	
	font-size :  11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

A {
    font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #6699cc;
}

.fancy_heading {
	border-style: solid; 
	border-color:#99CCCC; 
	border-width:1px; 
	padding: 3px;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #C0C0C0;
	background-image : url(blue-gradient.gif);

}


/*
############################################################
Dynamic forms
This set of styles control the display of dynamic forms - (Ad form).

*/

#dynamic_form, TABLE.dynamic_form {
	background-color: #d9d9d9;
	
	width: 100%;
	border-bottom-width: 0px;

}
/*
TD.dynamic_form_field -
The name of the field (field label which on the left side)
*/
#dynamic_form TD.dynamic_form_field {
	background-color: #efefef;
	font-weight: bold;
	width: 120px;
	font-family: Arial;
	font-size: 12px;

}

#dynamic_form TD.dynamic_form_2_col_field {
	background-color: #ffffff;
	

}
/*
#dynamic_form TD.dynamic_form_value
The value of the field (on the right from the field label)
*/
#dynamic_form TD.dynamic_form_value {
	background-color: #ffffff;
	
}

/*

*/
#dynamic_form .dynamic_form_image_label {
	
	font-weight: bold;

	font-family: Arial;
	font-size: 12px;

}

/*

*/
#dynamic_form .dynamic_form_file_label {

	font-weight: bold;
	

}
/*
The following style controls the LABEL type fields
*/
#dynamic_form .dynamic_form_note_label {


}

/*
Date field 
*/
#dynamic_form SELECT.dynamic_form_date_style {
	background-color: #ffffff;
	
}
#dynamic_form INPUT.dynamic_form_date_style {
	background-color: #ffffff;
	
}
/* Other fields */
#dynamic_form INPUT.dynamic_form_checkbox_style {
	background-color: #ffffff;
	

}

#dynamic_form INPUT.dynamic_form_radio_style {
	background-color: #ffffff;
	color: #ffffff;
	

}
#dynamic_form INPUT.dynamic_form_text_style{
	background-color: #ffffff;
	

}
#dynamic_form TEXTAREA {
	background-color: #ffffff;
	

}
#dynamic_form SELECT {
	background-color: #ffffff;
	

}


/* 
###########################################################
Ads :
This style is for the table that displays an ads form.
HTML code is located in ads.inc.php
*/

TABLE.ad_data {

	background-color: #ffffff;
	
	border-width: 0px;


}


/********************/

.error_msg_label {
	color: #FF0000;
	font-weight: bold;


}

.ok_msg_label {
	border-style: solid; 
	border-color: #33CC00; 
	border-width:2px;
	

}

/*****************************/

/*
####################################################
Ads list

*/

#pixels_list, TABLE.pixels_list {
	background-color: #d9d9d9;
	
	
}




#pixels_list TD.list_data_cell {
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	color: #000000;
	
	
}

#pixels_list .today {
	color: #ff0000;
	font-weight: bold;

}

#pixels_list .days_ago {
	color: #339900;
	font-weight: bold;
}

#pixels_list .days_ago2 {
	color: #C0C0C0;
	font-weight: bold;
}


#pixels_list .list_header_cell  {

	font-size: 10pt;
	margin: 0px;
	padding: 3px;
	font-weight: bold;

}

.httplabel {
  float:right;
}